html {
    height: 100%;
}
body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100%;
}

.qr {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.qr__card {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;

    gap: 12px;

    margin: auto;
    width: 250px;
    padding: 12px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.qr__image {
    width: 250px;
    object-fit: contain;
    border-radius: 10px;
}

.qr__header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.qr__text {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}