@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

:root {
    --white: #fff;
    --white-transparent: rgba(255,255,255,0.85);
    --green-dark: #23424A;
    --green-medium: #136C72;
    --cyan-dark: #072A2D;
    --cyan-light: #38CFD9;
    --cyan-light-hover: #35e4f1; 
    --purple: #87629A;

    --font-family-roboto: "Roboto", sans-serif;

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-regular: 400;

    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 40px;
    --spacing-xl: 48px;
    --spacing-2xl: 64px;
    --spacing-3xl: 96px;

    --font-size-h1: 48.05px;
    --font-size-h2: 36px;
    --font-size-h3: 21px;
    --font-size-text: 16px;

    --line-height-h1: 56.31px;
    --line-height-medium: 1.5;
    --line-height-small: 1.2;

    --border-radius-medium: 10px;
    --border-radius-large: 100px;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    max-width: 75ch;
}

/*******************/
/* Utility classes */
/*******************/

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: var(--spacing-l) var(--spacing-xl);
}

.bg-color-green-dark {
    background-color: var(--green-dark);
}

.bg-color-green-medium {
    background-color: var(--green-medium);
}

.color-green-dark {
    color: var(--green-dark);
}

.color-white {
    color: var(--white);
}

.color-white-transparent {
    color: var(--white-transparent);
}

.flex {
    display: flex;
    gap: var(--spacing-m);
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}


.width-100 {
    width: 100%;
}

.width-66 {
    width: 66%;
}

.width-30 {
    width: 30%;
}

.wrap {
    flex-wrap: wrap;
}


/*******************/
/* Specific classes */
/*******************/

.header {
    padding: var(--spacing-s) var(--spacing-xl);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__link {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-regular);
}

.nav__link:hover {
    opacity: 0.75;
}

.nav__link--button {
    background: var(--white);
    color: var(--green-medium);
    padding: var(--spacing-xs) var(--spacing-s);
    border-radius: var(--border-radius-large);
}

.hero__image {
    align-self: flex-start;
    border-radius: var(--border-radius-medium);
}

.hero__header {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-black);
    font-style: normal;
    color: var(--white);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

.feature {
    padding: var(--spacing-l);
    align-self: flex-start;
    border-radius: var(--border-radius-medium);
}

.pitch {
    padding: var(--spacing-l) 0;
}

.hero__paragraph,
.hero__button,
.feature__paragraph,
.benefit__paragraph,
.pitch__paragraph {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-size: var(--font-size-text);
    line-height: var(--line-height-small);
}

.pitch__paragraph,
.feature__paragraph,
.hero__paragraph {
    line-height: var(--line-height-medium);
}

.hero__paragraph,
.benefit__paragraph {
    margin-top: var(--spacing-m);
    font-weight: var(--font-weight-regular);
    color: var(--white-transparent);
}

.hero__button {
    margin-top: var(--spacing-xl);
    padding: var(--spacing-s) var(--spacing-xl);
    border-radius: var(--border-radius-large);
    background-color: var(--cyan-light);
    color: var(--cyan-dark);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    letter-spacing: 5%;
    border: none;
}

.hero__button:hover {
    background-color: var(--cyan-light-hover);
    cursor: pointer;
}

.feature__header,
.benefit__header,
.pitch__header {
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-black);
    font-style: normal;
    font-size: var(--font-size-h2);
    line-height: var(--line-height-small);
    text-align: center;
}

.pitch__header {
    text-align: left;
}

.benefit__header {
    color: var(--white);
}

.benefit__paragraph,
.feature__paragraph {
    text-align: center;
    margin-top: var(--spacing-m);
}