body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
}

nav {
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #575757;
    border-radius: 4px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Change bar to X icon when menu is open */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 10px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -10px);
}


/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        min-width: 100px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        display: flex;
        text-align: center;
        margin: 0;
    }

    .nav-links li a {
        color: #fff;
        width: 100%;
        padding: 8px 16px;
    }

    .hamburger {
        display: flex;
    }
}
