@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* 
CSS Reset
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic SASS test */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F2EAE2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product {
  max-width: 600px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
}

.product__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.product__image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product__content {
  padding: 32px;
  width: 100%;
}

.product__overline {
  color: #6C7289;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1;
}

.display {
  font-size: 32px;
  line-height: 1;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

.product__header {
  color: #1C232B;
  margin-top: 20px;
  width: 100%;
}

.product__description {
  line-height: 23px;
  margin-top: 22px;
  color: #6C7289;
  font-weight: 500;
  font-size: 14px;
}

.product__prices {
  display: flex;
  align-items: center;
  margin-top: 31px;
  gap: 19px;
}

.price__discount {
  color: #3D8168;
  margin: 0;
}

.price__original {
  color: #6C7289;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}

.product__button {
  display: flex;
  gap: 8px;
  padding: 15px;
  background-color: #3D8168;
  transition: background-color 0.2s ease-in;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

.product__button:hover {
  background-color: #1A4032;
  cursor: pointer;
}

.product__button:focus {
  background-color: #1A4032;
}

.product__button::before {
  content: url("../images/icon-cart.svg");
  display: inline-block;
  margin-right: 8px; /* Adjust this value to add space between the image and the text */
}

.button__image {
  color: #FFF;
}

.button__text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 668px) and (orientation: landscape) {
  .container {
    height: auto;
  }
  .product {
    margin: 28px 16px;
  }
}
@media (max-width: 600px) {
  .product {
    flex-direction: column;
    margin: 28px 16px;
  }
  .product__image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .product__content {
    padding: 24px;
    width: 100%;
  }
  .product__header,
  .product__description {
    margin-top: 14px;
  }
  .product__prices,
  .product__button {
    margin-top: 22px;
  }
}
@media (max-width: 311px) {
  .button__image {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */