@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --green: #4D96A9;
    --green-light: #71C0D4; 
    --dark-purple: #855FB1;
    --dark-purple-hover: #B18BDD;
    --light-purple: #D9B8FF;
    --black: #28283D;
    --brown: #87879D;
    --blue: #8FE3F9;
    --off-white: #FAFAFA;

    --font-family-primary: "Red Hat Display", sans-serif;

    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 32px;
    --font-size-xl: 40px;
    --font-size-2xl: 48px;
    --font-size-3xl: 64px;

    --font-weight-medium: 500;
    --font-weight-black: 900;

    --line-height-none: 1;
    --line-height-small: 16px;
    --line-height-medium: 26px;
    --line-height-large: 36px;
    --line-height-xl: 44px;
    --line-height-2xl: 48px;
    --line-height-3xl: 64px;

    --border-radius-small: 8px;
    --border-radius-large: 29px;

    --letter-spacing-large: 4px;
}

body {
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-medium);
    font-style: normal;
    margin: 48px 0px 0px 0px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 24px;
}

h1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-black);
    color: var(--black);
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    font-weight: var(--font-weight-black);
    color: var(--black);
    text-align: center;
}

p {
    font-size: var(--font-size-small);
    line-height: var(--line-height-medium);
    color: var(--brown);
    margin-bottom: 32px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.hero,
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero {
    margin-bottom: 64px;
    overflow: hidden;
    justify-content: center;
}

.hero__logo {
    width: 119px;
    object-fit: contain;
    margin-bottom: 54px;
}

.hero__images {
    max-width: 110%;
    margin-bottom: 48px;
    overflow: hidden;
}

.hero__image--left,
.hero__image--right {
    display: none;
}

.hero__description {
    margin: 0px 24px 32px 24px;
}

.hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btn {
    padding: 16px 40px;
    border-radius: var(--border-radius-large);
    border: none;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-medium);
    font-family: var(--font-family-primary);

    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--green);
    color: var(--white);
}

.btn--primary:hover {
    background-color: var(--green-light);
}

.btn--primary > span {
    color: var(--blue);
}

.btn--secondary {
    background-color: var(--dark-purple);
    color: var(--white);
}

.btn--secondary:hover {
    background-color: var(--dark-purple-hover);
}

.vertical__divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical__line {
    width: 1px;
    height: 84px;
    color: var(--brown);
    background-color: var(--brown);
    border: 0 none;
    display: inline-block;
    opacity: 0.25;
}

.circle {
    color: var(--brown);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-medium);
    background-color: var(--white);

    border: 1px solid rgba(135, 135, 157, 0.25); 
    border-radius: 100%;
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 24px 32px 24px;
}

.benefit__images {
    margin-bottom: 64px;
}

.benefit__image {
    border-radius: var(--border-radius-small);
}

.benefit__subtitle {
    color: var(--green);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--letter-spacing-large);
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
}

.benefit__header {
    margin-bottom: 32px;
}

.footer__section {
    margin-top: -28px;
    padding: 92px 24px 72px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background:linear-gradient(0deg, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(../assets/mobile/image-footer.jpg);  
    background-size: cover;
}

.footer__header,
.footer__paragraph {
    color: var(--off-white);
}

.footer__header {
    margin-bottom: 24px;
}

@media (min-width: 768px) {

    h1 {
        font-size: var(--font-size-2xl);
        line-height: var(--line-height-2xl);
    }

    h2 {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);

    }

    .hero__logo {
        margin-bottom: 64px;
    }

    .hero__images {
        margin-bottom: 72px;
    }

    .hero__description {
        max-width: 457px;
    }

    .hero__buttons {
        flex-direction: row;
    }

    .hero {
        margin-bottom: 80px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        column-gap: 11px;
    }

    .benefit {
        margin: 67px 24px 48px 24px;
    }

    .benefit__header {
        max-width: 445px;
    }

    .benefit__paragraph {
        max-width: 573px;
    }

    .footer__section {
        padding: 92px 24px 66px 24px;
        background: linear-gradient(0deg, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(../assets/tablet/image-footer.jpg);
        background-size: cover;
    }

    .footer__header {
        margin-bottom: 32px;
        max-width: 457px;
    }

    .footer__paragraph {
        max-width: 573px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1280px) {
    .hero__images {
        display: none;
    }

    .hero__image--left,
    .hero__image--right {
        display: block;
    }

    .hero {
        flex-direction: row;
        gap: 88px;
        margin-bottom: 130px;
    }

    .hero__buttons {
        flex-direction: column;
    }
}

@media (min-width: 1440px) {

    body {
        margin: 80px 0px 0px;
    }

    h1 {
        font-size: var(--font-size-3xl);
        line-height: var(--line-height-3xl);
        margin-bottom: 34px;
    }

    p {
        font-size: var(--font-size-medium);
    }

    .grid {
        column-gap: 30px;
    }

    .d-flex {
        flex-direction: row;
    }

    .hero__buttons {
        flex-direction: row;
    }

    .footer__section {
        padding: 116px 165px 104px 165px;
        background: linear-gradient(0deg, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url(../assets/desktop/image-footer.jpg);
        background-size: cover;
    }

    .footer__header,
    .footer__paragraph {
        margin-bottom: 0;
        text-align: left;
        flex: 1 1 350px;
    }

    .footer__header {
        margin-right: 125px;
    }

    .footer__paragraph {
        margin-right: 92px;
    }

    .hero__images {
        display: none;
    }

    .hero__image--left,
    .hero__image--right {
        display: block;
    }

    .hero {
        flex-direction: row;
        gap: 88px;
        margin-bottom: 130px;
    }

    .hero__logo {
        margin-bottom: 61px;
    }

    .benefit {
        margin: 64px 24px 40px 24px; 
    }

    .benefit__images {
        margin-bottom: 80px;
    }

    .benefit__subtitle {
        margin-bottom: 16px;
    }

    .benefit__paragraph {
        max-width: 540px;
    }
}